#donate.donate-container { width:100%; }
#donate *, #donate *:before, #donate *:after { box-sizing:border-box; }
#donate fieldset {
    width:100%;
    float:left;
    border:none;
}
#donate .donate-row { width:100%; margin:0; float:left; clear:both; }
#donate .donate-row:before, #donate .donate-row:after { content:" "; display:table; }

#donate .donate-sm-col-3, #donate .donate-sm-col-4, #donate .donate-sm-col-6, #donate .donate-sm-col-12, #donate .donate-xs-col-6, #donate .donate-xs-col-12 {
    width:100%;
    padding:0 5px;
    float:left;
    position:relative;
}
#donate .donate-sm-col-6, #donate .donate-xs-col-6 { width:50%; }
#donate .donate-sm-col-4 { width:33.3333%; }
#donate .donate-sm-col-3 { width:25%; }

#donate .sr-only {
    border:0 none;
    clip:rect(0px, 0px, 0px, 0px);
    height:1px;
    margin:-1px;
    overflow:hidden;
    padding:0;
    position:absolute;
    width:1px;
}

#donate fieldset.selection-buttons { margin:10px 0px; }

#donate label.selection-button {
    display:inline-block;
    height:80px;
    width:100%;
    margin:0px;
    text-align:center;
    vertical-align:middle;
    background-color:#E9E9E9;
    color:#123054;
    cursor:pointer;
    white-space:normal;
}
#donate label.selection-button > span {
    display:inline-block;
    margin:29px 0px;
    vertical-align:middle;
    font-family:geogrotesque-regular;
    font-size:18px;
    font-weight:normal;
}
#donate label.selection-button.selected, #donate label.selection-button:hover {
    background-color:#89C348;
    color:#FFFFFF;
}
#donate label.selection-button input[type="radio"] { display:none; }
#donate div.selection-button-container {
    display:inline-block;
    float:left;
    margin:0px;
}
#donate div.selection-button-container.three-button-container { width:33.3%; }
#donate div.selection-button-container.two-button-container { width:50%; }
#donate div.selection-button-container.one-button-container { width:100%; }
#donate div.selection-button-container.donation-button-container { width:14.28%; }
#donate div.selection-button-inner { margin:0 3px 3px 0; }
#donate span#level_amt_other_value {    margin:20px 0px; }
#donate input#level_amt_other_input {
    background:#89C348;
    border:none;
    color:#FFFFFF;
    text-align:center;
    width:50%;
    margin:0;
}

#donate .section-header {
    font-family:geogrotesque-semibold;
    font-size:24px;
    text-transform:uppercase;
    color:#123054;
    margin-top:20px;
    margin-bottom:20px;
}
#donate .section-subheader {
    font-family:geogrotesque-medium;
    font-size:18px;
    color:#123054;
    margin-top:10px;
    margin-bottom:10px;
}
#donate input[type="text"], #donate select, #donate textarea {
    font-family:geogrotesque-regular;
    font-size:18px;
}
#donate input[type="text"], #donate textarea { border:solid 1px #bcbcbc; }
#donate input[type="text"], #donate div.whatsthis {
    height:40px;
    width:100%;
    padding-left:6px;
    margin-top:10px;
}
#donate div.whatsthis {
    height:auto;
}
#donate textarea {
    width:100%;
    padding-left:6px;
    margin-top:10px;
}

#donate .checkbox-container {
    min-height:40px;
    display:inline-block;
    width:auto;
    font-family:geogrotesque-regular;
    font-size:18px;
    text-align:left;
    background-color:#E9E9E9;
    color:#123054;
    margin-top:10px;
    margin-bottom:10px;
}
#donate .checkbox-container.selected, #donate .checkbox-container:hover {
    background-color:#89C348;
    color:#FFFFFF;
}
#donate .checkbox-container input[type="checkbox"] { display:none; }
#donate .checkbox-container label {
    display:inline-block;
    min-height:40px;
    margin:0;
    padding:7px 4px 7px 44px;
    vertical-align:middle;
    font-weight:normal;
    background:url("../img/checkbox_unchecked.jpg") no-repeat scroll left top;
    cursor:pointer;
    white-space:normal;
}
#donate .checkbox-container:hover label {
    background:url("../img/checkbox_unchecked_hover.jpg") no-repeat scroll left top;
}
#donate .checkbox-container.selected label, #donate .checkbox-container.selected:hover label {
    background:url("../img/checkbox_checked.jpg") no-repeat scroll left top;
}

#donate div.donate-select {
    background:url("../img/select_dropdown.jpg") no-repeat scroll right center;
    border:1px solid #bcbcbc;
    margin-top:10px;
    overflow:hidden;
    padding:0;
    width:100%;
}
#donate div.donate-select select {
    background:transparent;
    border:none;
    margin:0;
    padding-left:6px;
    width:110%;
    height:38px;
    -webkit-appearance:none;
    text-indent:0.01px;
    text-overflow:'';
}
#donate div.donate-select select::-ms-expand {
    display:none;
}

#donate div.whatsthis a.HelpLink {
    display:inline-block;
    padding:9px 0;
    vertical-align:middle;
}

#donate div.spacer-line {
    height:1px;
    width:100%;
    margin-top:10px;
    margin-bottom:10px;
    background: #123054; /* Old browsers */
    background: -moz-linear-gradient(left,  #123054 0%, #39b6b9 50%, #89c348 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#123054), color-stop(50%,#39b6b9), color-stop(100%,#89c348)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #123054 0%,#39b6b9 50%,#89c348 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #123054 0%,#39b6b9 50%,#89c348 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #123054 0%,#39b6b9 50%,#89c348 100%); /* IE10+ */
    background: linear-gradient(to right,  #123054 0%,#39b6b9 50%,#89c348 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#123054', endColorstr='#89c348',GradientType=1 ); /* IE6-9 */
}

#donate div.spacer {
    display:block;
    margin-top:5px;
    margin-bottom:5px;
}

#donate a.ecard-preview {
    cursor:pointer;
}

img.img-responsive {
    max-width:100%;
}

.modal {
    display: none;
    width: 50%;
    background: #fff;
    padding: 15px 30px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 10px #000;
    -moz-box-shadow: 0 0 10px #000;
    -o-box-shadow: 0 0 10px #000;
    -ms-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
}

.modal a.close-modal {
    position: absolute;
    top: -12.5px;
    right: -12.5px;
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -9999px;
    background: url("../img/close.png") no-repeat 0 0;
}

#donate #required_field_ind_help {
    float:right;
    color:#E9E9E9;
    font-family:geogrotesque-medium;
    font-size:18px;
    text-align:right;
    text-transform:none;
}
#donate #memorial_help_text {
    font-family:geogrotesque-regular;
    font-size:16px;
    color:#39B6B9;
    text-align:left;
    margin-top:10px;
    margin-bottom:10px;
}

#donate-submit, #donate-submitted, #donate-submit-paypal {
    display:block;
    width:250px;
    height:80px;
    margin-left:auto;
    margin-right:auto;
    font-family:geogrotesque-regular;
    font-size:28px;
    text-align:center;
    vertical-align:middle;
    background-color:#89C348;
    color:#FFFFFF;
    border:none;
}

#donate-submit, #donate-submit-paypal {
    cursor:pointer;
}

#donate-submitted .donate-submitted-text {
    display: inline-block;
    height: 22px;
    margin-top: 29px;
    margin-bottom: 29px;
}

#donate-submit-paypal .donate-submitted-text {
    display: inline-block;
    height: 44px;
    margin-top: 18px;
    margin-bottom: 18px;
}

#donate .error {
    color:red;
}

#donate span.donate-exclamation-mark {
    display:inline-block;
    height:16px;
    width:16px;
    vertical-align:sub;
}

#donate label.error {
    display:inline-block;
    margin:10px 0 -10px;
    width:100%;
    white-space:normal;
    float:left;
}

#donate input.error, #donate textarea.error, #donate div.donate-select.error {
    border:1px solid red;
}

#donate #donation_amounts label.error {
    margin:-10px 0 0;
}

#donate div.donate-select.error, #donate input.error[type="text"] {
    float:left;
}

#donate input#level_amt_other_input.error {
    float:none;
}

#donate div.row-error div.donate-select.valid, #donate div.row-error input[type="text"], #donate div.row-error div.whatsthis {
    float:left;
    margin-top:32px;
}

#donate div.row-error input.error[type="text"] {
    margin-top:10px;
}

#donate .hidden { display:none !important; }

@media (max-width: 320px) {
    #donate label.selection-button > span.selection-button-long-text { margin:18px 0 17px; }
}
@media (max-width: 452px) {
    #donate #payment_type_ach_text { margin:18px 0 17px; }
}
@media (max-width: 767px) {
    #donate .donate-xs-col-12 { width:100% !important; }
    #donate .donate-xs-col-6 { width:50% !important; }
    #donate .donate-xs-hidden { display:none; }
    #donate div.selection-button-container.donation-button-container { width:33.3%; }
    #donate div.selection-button-container.donation-button-container.donation-other-container { width:100%; }
    #donate #memorial_help_text { text-align:center; }
}